SECRET_KEY=dc97de822bb0cd4b917f15c567b52fdfed411fd62531f9e075e6b6ab56293200
JWT_SECRET_KEY=dc97de822bb0cd4b917f15c567b52fdfed411fd62531f9e075e6b6ab56293200

POSTGRES_PASSWORD=password
DATABASE_URL=postgresql+psycopg://user:password@localhost:5432/reatimechat_db
CORS_ORIGINS=http://localhost:4200,http://localhost:3000

CASSANDRA_HOSTS=localhost
CASSANDRA_PORT=9042
CASSANDRA_KEYSPACE=chat
